/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

/* Display */
.flex-container {
	display: flex;
}

.inline-flex-container {
	display: flex-inline;
}

/* Direction */
.row {
	flex-direction: row;
}

.row-reverse {
	flex-direction: row-reverse;
}

.column {
	flex-direction: row-column;
}

.column-reverse {
	flex-direction: column-reverse;
}

/* Wrap */

.wrap {
	flex-wrap: wrap;
}

.nowrap {
	flex-wrap: nowrap;
}

.wrap-reverse {
	flex-wrap: wrap-reverse;
}

/* Flex Flow Shorthand */

.row-wrap {
	flex-flex: row wrap;
}

.row-nowrap {
	flex-flex: row nowrap;
}

.row-wrap-reverse {
	flex-flex: row wrap-reverse;
}

.row-reverse-wrap {
	flex-flex: row-reverse wrap;
}

.row-reverse-nowrap {
	flex-flex: row-reverse nowrap;
}

.row-reverse-wrap-reverse {
	flex-flex: row-reverse wrap-reverse;
}

.column-wrap {
	flex-flex: column wrap;
}

.column-nowrap {
	flex-flex: column nowrap;
}

.column-wrap-reverse {
	flex-flex: column wrap-reverse;
}

