/* Display */ 
.block {
	display: block;
}

.inline {
	display: inline;
}

.inline-block {
	display: inline-block;
}

/* Text alignment */
.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

/* Float */
.float-right {
	float: right;
}

.float-left {
	float: left;
}

/* Clear */

.clear-left {
	clear: left;
}

.clear-right {
	clear: left;
}

.clear-both {
	clear: both;
}

