/* Base stylesheet for genuflect. */
/* Do imports */
/* line 17, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Mixins */
/* Display */
/* line 2, ../sass/partials/_utility.scss */
.block {
  display: block;
}

/* line 6, ../sass/partials/_utility.scss */
.inline {
  display: inline;
}

/* line 10, ../sass/partials/_utility.scss */
.inline-block {
  display: inline-block;
}

/* Text alignment */
/* line 15, ../sass/partials/_utility.scss */
.text-center {
  text-align: center;
}

/* line 19, ../sass/partials/_utility.scss */
.text-left {
  text-align: left;
}

/* line 23, ../sass/partials/_utility.scss */
.text-right {
  text-align: right;
}

/* Float */
/* line 28, ../sass/partials/_utility.scss */
.float-right {
  float: right;
}

/* line 32, ../sass/partials/_utility.scss */
.float-left {
  float: left;
}

/* Clear */
/* line 38, ../sass/partials/_utility.scss */
.clear-left {
  clear: left;
}

/* line 42, ../sass/partials/_utility.scss */
.clear-right {
  clear: left;
}

/* line 46, ../sass/partials/_utility.scss */
.clear-both {
  clear: both;
}

/* Set prepend class */
/* line 12, ../sass/genuflect.scss */
.genuflect {
  /* PROPERTIES FOR THE PARENT ELEMENT - FLEXBOX*/
  /* Display ----------------------------------------------*/
  /* Direction ----------------------------------------------*/
  /* Wrap ----------------------------------------------*/
  /* Flex Flow Shorthand ----------------------------------------------*/
  /* Justify Content */
  /* Align items */
  /* Align Content */
}
/* line 17, ../sass/genuflect.scss */
.genuflect.flex-container {
  display: flex;
}
/* line 21, ../sass/genuflect.scss */
.genuflect.flex-inline-container {
  display: flex-inline;
}
/* line 26, ../sass/genuflect.scss */
.genuflect.row {
  flex-direction: row;
}
/* line 30, ../sass/genuflect.scss */
.genuflect.row-reverse {
  flex-direction: row-reverse;
}
/* line 34, ../sass/genuflect.scss */
.genuflect.column {
  flex-direction: column;
}
/* line 38, ../sass/genuflect.scss */
.genuflect.column-reverse {
  flex-direction: column-reverse;
}
/* line 43, ../sass/genuflect.scss */
.genuflect.wrap {
  flex-wrap: wrap;
}
/* line 47, ../sass/genuflect.scss */
.genuflect.nowrap {
  flex-wrap: nowrap;
}
/* line 51, ../sass/genuflect.scss */
.genuflect.wrap-reverse {
  flex-wrap: wrap-reverse;
}
/* line 57, ../sass/genuflect.scss */
.genuflect.row-wrap {
  flex-flow: row wrap;
}
/* line 61, ../sass/genuflect.scss */
.genuflect.row-nowrap {
  flex-flow: row nowrap;
}
/* line 65, ../sass/genuflect.scss */
.genuflect.row-wrap-reverse {
  flex-flow: row wrap-reverse;
}
/* line 69, ../sass/genuflect.scss */
.genuflect.row-reverse-wrap {
  flex-flow: row-reverse wrap;
}
/* line 73, ../sass/genuflect.scss */
.genuflect.row-reverse-nowrap {
  flex-flow: row-reverse nowrap;
}
/* line 77, ../sass/genuflect.scss */
.genuflect.row-reverse-wrap-reverse {
  flex-flow: row-reverse wrap-reverse;
}
/* line 81, ../sass/genuflect.scss */
.genuflect.column-wrap {
  flex-flow: column wrap;
}
/* line 85, ../sass/genuflect.scss */
.genuflect.column-nowrap {
  flex-flow: column nowrap;
}
/* line 89, ../sass/genuflect.scss */
.genuflect.column-wrap-reverse {
  flex-flow: column wrap-reverse;
}
/* line 93, ../sass/genuflect.scss */
.genuflect.column-wrap {
  flex-flow: column-reverse wrap;
}
/* line 97, ../sass/genuflect.scss */
.genuflect.column-nowrap {
  flex-flow: column-reverse nowrap;
}
/* line 101, ../sass/genuflect.scss */
.genuflect.column-wrap-reverse {
  flex-flow: column-reverse wrap-reverse;
}
/* line 107, ../sass/genuflect.scss */
.genuflect.justify-start {
  justify-content: flex-start;
}
/* line 111, ../sass/genuflect.scss */
.genuflect.justify-end {
  justify-content: flex-end;
}
/* line 115, ../sass/genuflect.scss */
.genuflect.justify-center {
  justify-content: center;
}
/* line 119, ../sass/genuflect.scss */
.genuflect.justify-space-between {
  justify-content: space-between;
}
/* line 123, ../sass/genuflect.scss */
.genuflect.justify-space-around {
  justify-content: space-around;
}
/* line 130, ../sass/genuflect.scss */
.genuflect.align-items-start {
  align-items: flex-start;
}
/* line 134, ../sass/genuflect.scss */
.genuflect.align-items-end {
  align-items: flex-end;
}
/* line 138, ../sass/genuflect.scss */
.genuflect.align-items-center {
  align-items: center;
}
/* line 142, ../sass/genuflect.scss */
.genuflect.align-items-baseline {
  align-items: baseline;
}
/* line 146, ../sass/genuflect.scss */
.genuflect.align-items-stretch {
  align-items: stretch;
}
/* line 152, ../sass/genuflect.scss */
.genuflect.align-content-start {
  align-content: flex-start;
}
/* line 156, ../sass/genuflect.scss */
.genuflect.align-content-end {
  align-content: flex-end;
}
/* line 160, ../sass/genuflect.scss */
.genuflect.align-content-center {
  align-content: center;
}
/* line 164, ../sass/genuflect.scss */
.genuflect.align-content-space-between {
  align-content: space-between;
}
/* line 168, ../sass/genuflect.scss */
.genuflect.align-content-space-around {
  align-content: space-around;
}
/* line 172, ../sass/genuflect.scss */
.genuflect.align-content-stretch {
  align-content: stretch;
}

/* HEADER AND FOOTER */
/* line 180, ../sass/genuflect.scss */
nav {
  top: 0;
  height: 40px;
}

/* line 185, ../sass/genuflect.scss */
footer {
  bottom: 0;
  height: 40px;
}

/* line 190, ../sass/genuflect.scss */
nav, footer {
  position: fixed;
  width: 100%;
}

/* line 3, ../sass/site.scss */
.create-flexbox-example {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

/* line 7, ../sass/site.scss */
.child-example {
  width: 200px;
  height: 200px;
  margin: auto;
}

/* line 11, ../sass/site.scss */
.blue {
  background-color: blue;
}

/* line 14, ../sass/site.scss */
.red {
  background-color: red;
}

/* line 17, ../sass/site.scss */
.green {
  background-color: green;
}

/* line 20, ../sass/site.scss */
.purple {
  background-color: purple;
}

/* line 23, ../sass/site.scss */
.yellow {
  background-color: yellow;
}
